*{
  background-color: #303030;
  color: white;
}

body{
margin: 0;
padding:0;
box-sizing: border-box;
}

form{
  display: flex;
  align-items: center;
  flex-direction: column;
  padding:1rem;
  
  margin:5rem 0 2rem 0;
  align-items: center;
}

form label{
  font-size: 25px;
}

form input{
  border: none;
  outline: none;
  margin:0.5rem;
  
  font-size: 25px;
}

form input[type="submit"]{
  background-color: red;
  border-radius: 5px;
  border: none;
  opacity: 0.7;
  transition: 0.5s;
}

form input[type="submit"]:hover{
  cursor: pointer;
  opacity: 1;
}

table{
  margin: 0 auto;

  background-color: #302530;
  width:40%;
  text-align: left;
}

table tr{
  font-size: 20px;
}

table td{
  font-size: 35px;
  text-align: center;
  
}